/* page wide styling */

:root{
    background-color: darkslategray;
    font-size: 92.5%;
    color: goldenrod;
}

*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: goldenrod;
    margin: 0;
    padding: 0;
}

/*hides main content until called by JS*/

.main{
    display: none;
}

/*alert message features*/

#alert-box{
    display: none;
    background-color: #514E61;
    border: 1px solid #aaa;
    position: fixed;
    width: 300px;
    left: 50%;
    margin-left: -100px;
    padding: 6px 8px 8px;
    text-align: center;
    border-radius: 4px;
}

/* Small screens and standard features styling */

/*title page font*/

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.sec-title{
    text-align: center;
}

/*start button location*/

#startbtn{
    margin-right: auto;
    margin-left: auto;
}

/*submit button location*/

#submitbtn{
    margin-right: 25px;
    float: right;
}

/*next question button location*/

#nextqbtn{
    float: right;
    margin-right: 6rem;
}

/*restart quiz button*/

#restartbtn{
    margin-right: auto;
    margin-left: auto;
}

/*all buttons features*/

.button{
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    padding: 8px 15px 8px 15px;
    border-radius: 4px;
    color: darkslategrey;
    font-weight: bolder;
    border: 1px solid darkslategrey;
}

.button:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 goldenrod;
}

/*start page images*/

.images{
    height: 250px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
}

/*Questions & options*/

fieldset{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 65%;
    padding: 25px;
    border-radius: 4px;
}

.questionbox{
    margin-top: 5px;
    margin-bottom: 12px;
}

.optionsbox{
    float: left;
}

.options{
    margin: 0.5rem; 
    display: block;
}

/* Larger screens */

@media screen and (min-width: 760px){
    /*Images and buttom section*/
    .imgs-btn{ 
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}






/* rest of wireframe*/

/*.question-score{
    display: flex;
    justify-content:flex-start;
    list-style: none;
}

.top{
    margin-left: 5px;
    margin-right: 5px;
}

.answers{
    list-style: none;
}

.correct-answer-container{
    margin-top: 25px;
    margin-bottom: 25px;
}

.final-score{
    list-style: none;
}*/
