/* page wide styling*/

:root{
    background-color: darkslategray;
    font-size: 92.5%;
    color: goldenrod;
}

*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: goldenrod;
    margin: 0;
    padding: 0;
}
/* Small screens */

/*title page font*/
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
/*start button location and features*/
#startbtn{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 8px 15px 8px 15px;
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: darkslategrey;
    font-weight: bolder;
    border: 1px solid darkslategrey;
}
/*hover and shading*/
#startbtn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 goldenrod;
}

/*start page images*/
.images{
    height: 250px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Larger screens*/

@media screen and (min-width: 760px){
    /* Images and buttom section*/
    .imgs-btn{ 
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.main{
    display: none;
}



/* rest of wireframe*/

/*.question-score{
    display: flex;
    justify-content:flex-start;
    list-style: none;
}

.top{
    margin-left: 5px;
    margin-right: 5px;
}

.answers{
    list-style: none;
}

.correct-answer-container{
    margin-top: 25px;
    margin-bottom: 25px;
}

.final-score{
    list-style: none;
}*/
